.macro__lines {
  flex: 1 1 auto;
}

.line {
  font-family: Consolas;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.token {color: #e4e4e4}

.token--command,
.token--chat,
.token--emote,
.token--channel,
.token--tooltip,
.token--server {color: #FFD766	}

.token--linkProfession,
.token--linkSpell,
.token--linkEnchant,
.token--linkItem {color:#FA8072 }

.token--spellLevel,
.token--spellMode,
.token--spellName {color: #00bfff}

.token--modifier {color: #e4e4e4}

.token--numberRange,
.token--numberDecimal,
.token--number {color: #90ee90}
