.macros {
 flex: 1;
 width: 100%;
}

.macro {
  /* padding: .5em 0; */
  transition: background-color 200ms;
  box-sizing: border-box;
}

.macro:hover {
  background-color: #1a1a1a;
}

.macro__index {
  color: #666;
  /* margin-right: .25em; */
  /* font-size: 1.1em; */
}

.macro__header {
  display: flex;
  /* margin: .5em; */
  color: #aaa;
}

.macro__label {
  /* font-size: 1.1em; */
}

.macro__icons {
  display: flex;
}

.macro__icon {
  width: 2em;
  height: 2em;
  display: block;
  flex: none;
}

.macro__count {
  margin-left: auto;
}

.macro__lines {
  /* padding: .5em; */
  border: dashed 1px #666;
  border-radius: .25em;
  /* margin: .5em; */
}

.line {
  font-family: Consolas;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.token {color: #e4e4e4}

.token--command,
.token--chat,
.token--emote,
.token--channel,
.token--tooltip,
.token--server {color: #FFD766	}

.token--linkProfession,
.token--linkSpell,
.token--linkEnchant,
.token--linkItem {color:#FA8072 }

.token--spellLevel,
.token--spellMode,
.token--spellName {color: #00bfff}

.token--modifier {color: #e4e4e4}

.token--numberRange,
.token--numberDecimal,
.token--number {color: #90ee90}
