.tags {
  font-size: .9em;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  color: #aaa;
  background: #333;
  padding: .25em .5em;
  border-radius: .25em;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: .25em;
}

.tag--selected {
  background-color: #000;
}

.tag:not(:last-child) {
  margin-right: .5em;
}
