.line {
  display: flex;
  margin-bottom: .5em;
}

.line:hover {
  background-color: #eee;
}

.line__original {
  width: 25%;
  overflow: hidden;
  word-break: break-all;
  word-break: break-word;
  padding: .25em;
}

.line__results {
  /* display: flex; */
  /* width: 75%; */
  word-break: break-all;
  /* flex-wrap: wrap; */
  flex-grow: 1;
  padding: .25em;
}

.line__results > div {
  width: 100%;
}

.line__results > div:nth-child(2n) {
  background-color: #e8e8e8;
}
