.result {
  word-break: break-all;
  flex-wrap: wrap;
  flex: none;
}

.result--space {
  margin: 0 .25em;
}

.result--command {color: #a00}
.result--channel {color: #a00}
.result--tooltip {color: #a00}
.result--server {color: #a00}

.result--space {color: #ccc}

.result--comma {color: #dd0}
.result--semicolon {color: #dd0}
.result--colon {color: #dd0}
.result--squareBracketOpen {color: #dd0}
.result--squareBracketClose {color: #dd0}
.result--roundBracketOpen {color: #dd0}
.result--roundBracketClose {color: #dd0}
.result--separator {color: #dd0}
.result--slash {color: #dd0}
.result--at {color: #dd0}
.result--plus {color: #dd0}
.result--equal {color: #dd0}
.result--exclamation {color: #dd0}
.result--hash {color: #dd0}

.result--word {color: #0bb}
.result--spellRank {color: #00a}
.result--spellMode {color: #00a}

.result--numberRange {color: #0a0}
.result--numberDecimal {color: #0a0}
.result--number {color: #0a0}

.result--linkProffesion {color:#b0b}
.result--linkSpell {color:#b0b}

.result--other {background-color: #fa0}
