.menu {
  border-bottom: 1px solid #111;
  flex: none;
  padding: 1em;
}

.menu__link {
  color: #c90;
  text-decoration: none;
  padding: .5em 1em;
  font-weight: bold;
  border-radius: .25em;
}

.menu__link:not(:last-child) {
  margin-right: 1em;
}

.menu__link--active,
.menu__link:hover {
  background-color: #111;
}
