.result:not(:last-child)::after {content:'  ';display:inline-block;width:.5em;height:.5em;background-color:#d8d8d8}
.result--command,
.result--chat,
.result--emote,
.result--channel,
.result--tooltip,
.result--server {color: #a00}

.result--linkProfession,
.result--linkSpell,
.result--linkEnchant,
.result--linkItem {color:#b0b}

.result--spellLevel,
.result--spellMode,
.result--spellName {color: #00a}

.result--modifier {color: #dd0}

.result--numberRange,
.result--numberDecimal,
.result--number {color: #0a0}

.result--at,
.result--colon,
.result--comma,
.result--equal,
.result--exclamation,
.result--bracketSquareClose,
.result--bracketSquareOpen,
.result--semicolon,
.result--slash,
.result--dash {color: #aaa}

.result--space {color: #ccc;margin: 0 .25em;}
.result--unknown {background-color: #fa0}
